In [2]:
import pandas as pd

df=pd.read_excel("/home/trongthuc1708/REALMOF/REALM of - Sale tháng 2.xlsx")

print(df)

                   STT   NGÀY TẠO MÃ  ĐƠN HÀNG  PLATFORM  \
0    THÁNG 9 + 10/2024        NaT          NaN       NaN
1                    1 2024-09-21          NaN  Facebook
2                    2 2024-09-26          NaN  Facebook
3                    3 2024-10-02          NaN  Facebook
4                    4 2024-10-02          NaN  Facebook
..                 ...        ...          ...       ...
747                468        NaT          NaN       NaN
748                469        NaT          NaN       NaN
749                470        NaT          NaN       NaN
750                471        NaT          NaN       NaN
751                472        NaT          NaN       NaN

                   TÊN KHÁCH HÀNG          SĐT NGÀY SINH NHẬT ĐỊA CHỈ   \
0                             NaN          NaN            NaN      NaN
1                  Lương Thế Văn   702660071.0            NaN      NaN
2                  Lương Thế Văn   702660071.0            NaN      NaN
3                  Lương Thế Văn   702660071.0            NaN      NaN
4    Quỳnh Mi (Minh Tường mua hộ)  902894958.0            NaN      NaN
..                            ...          ...            ...      ...
747                           NaN          NaN            NaN      NaN
748                           NaN          NaN            NaN      NaN
749                           NaN          NaN            NaN      NaN
750                           NaN          NaN            NaN      NaN
751                           NaN          NaN            NaN      NaN

    THÀNH PHỐ  NGƯỜI TẠO ĐƠN  SKU TÊN SẢN PHẨM SIZE  SỐ LƯỢNG  GIÁ TRỊ ĐƠN   \
0          NaN           NaN  NaN          NaN  NaN       NaN           NaN
1          NaN        Khương  NaN          NaN  NaN       NaN      390000.0
2          NaN        Khương  NaN          NaN  NaN       NaN      416000.0
3          NaN        Khương  NaN          NaN  NaN       NaN      350000.0
4          NaN        Khương  NaN          NaN  NaN       NaN      390000.0
..         ...           ...  ...          ...  ...       ...           ...
747        NaN           NaN  NaN          NaN  NaN       NaN           NaN
748        NaN           NaN  NaN          NaN  NaN       NaN           NaN
749        NaN           NaN  NaN          NaN  NaN       NaN           NaN
750        NaN           NaN  NaN          NaN  NaN       NaN           NaN
751        NaN           NaN  NaN          NaN  NaN       NaN           NaN

    HÌNH THỨC THANH TOÁN TÌNH TRẠNG THANH TOÁN  GHI CHÚ
0                    NaN                    NaN     NaN
1           chuyển khoản          ĐÃ THANH TOÁN     NaN
2           chuyển khoản          ĐÃ THANH TOÁN     NaN
3           chuyển khoản          ĐÃ THANH TOÁN     NaN
4           chuyển khoản          ĐÃ THANH TOÁN     NaN
..                   ...                    ...     ...
747                  NaN                    NaN     NaN
748                  NaN                    NaN     NaN
749                  NaN                    NaN     NaN
750                  NaN                    NaN     NaN
751                  NaN                    NaN     NaN

[752 rows x 18 columns]

In [ ]:
from sqlalchemy import create_engine

# Thông tin kết nối đến PostgreSQL
db_user = "your_username"
db_password = "your_password"
db_host = "localhost"  # hoặc IP server
db_port = "5432"
db_name = "your_database"

# Tạo engine kết nối
engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

# Kiểm tra kết nối
try:
    with engine.connect() as conn:
        print("Kết nối cơ sở dữ liệu thành công!")
except Exception as e:
    print(f"Lỗi kết nối: {e}")